<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', { title: "Login", stylesheet: "" }) %>
<body>
    <%- include("../partials/navbar") %>
    <div class="content__container">
        <%- include("../partials/loginForm") %>
    </div>

    <script type="module" src="modules/navbar.mjs"></script>
    <script type="module" src="modules/login.mjs"></script>
</body>
</html>
