<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', { title: "Register", stylesheet: "" }) %>
<body>
    <%- include("../partials/navbar") %>
    <div class="content__container">
        <%- include("../partials/registerForm") %>
    </div>

    <script type="module" src="modules/navbar.mjs"></script>
    <script type="module" src="modules/register.mjs"></script>
</body>
</html>
