<form>
    <input type="text" class="user__input" placeholder="DNI">
    <input type="password" class="password__input" placeholder="Password">
    <button class="login__send__button">Log-in</button>
</form>