<form>
    <input type="text" class="user__input" placeholder="DNI">
    <input type="password" class="password__input" placeholder="Password">
    <select id="opciones">
        <!-- Opción por defecto -->
        <option selected disabled>Seleccione su rol</option>
        <!-- Otras opciones -->
        <option value="public">Public</option>
        <option value="teacher">Teacher</option>
        <option value="admin">Admin</option>
    </select>
    <button class="register__send__button">Register</button>
</form>